.idea/
*.pyc
*.ipynb
.vscode
01
weights
*.png
*.bsub
errors.npz
__pycache__/
config/__pycache__/
dataset_loaders/__pycache__/
dataset_loaders/images/__pycache__/
dataset_loaders/videos/__pycache__/
job.bsub
*.err
*.out
exp_*
config/cf.py
DATA/